main>header nav em {
    font-size: 1.4em;
    font-style: normal;
}

main>header>nav ul {
    column-gap: 1.5em;
    row-gap: 1em;
}

main>header nav a {
    /* padding: 0.75em; */
    font-weight: bold;
    text-decoration: none;
}
