@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Gowun+Batang&display=swap');

body {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
}

h1, h2, h3, body>header>div>span {
    font-family: "Baloo Paaji 2", sans-serif;
    font-weight: 1000;
}

code {
    font-family: "Roboto Mono";
}