@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Gowun+Batang&display=swap');

body {
    font-family: "Gowun Batang", serif;
}

h1, h2, h3, body>header>div>span {
    font-family: "Baloo Paaji 2", sans-serif;
}

code {
    font-family: "Google Sans Code";
}